- require 'rubygems'; require 'babel';
!!! 5
%html{html_attrs('en')}
  %head
    %title Maheshwara
    %link(href="style.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="uploader/fileuploader.css" media="screen" rel="stylesheet" type="text/css")
    %script(type="text/javascript")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript")
    %script(src="uploader/fileuploader.js" type="text/javascript")
    %script(src="app.js" type="text/javascript")


  %body
    #container
      #header
        %h3
          Maheshwara Parameshwara Vishwakarma
        %span sem
        %span.edit eget
        %span suscipit
      #content
        %h1.editable.short Mauris bibendum massa vitae diam rutrum
        %ol
          - imgs = Dir['*.jpg']
          - (1..10).each do |i|
            %li{:class => (i % 2 == 0 ? "even" : "odd")}
              .image
                %img{:src => imgs.shift }
                .uploader
              - Enumerable::Enumerator.instance_eval{define_method(:[]){|index| self.to_a[index]}}
              - def loremize(text);text.to_s.chars.map{|x| next x if x =~ /[\s,"'.!?Z;&z]/; (x[0] + 1).chr.to_s}.join; end
              %h2.editable.short.title= loremize Babel.random_short
              .editable.short.location= loremize Babel.random_short(35)
              .editable.long.description<>
                - x = Babel.random_long[0..300].to_s.gsub(/\s/, ' ').strip
                = loremize x

              %hr
      #footer
        Footer
    - analytics_partial = File.join(File.dirname(__FILE__), '_analytics.html')
    - if File.exist?(analytics_partial)
      = File.read analytics_partial

