!!! 5
%html{html_attrs('en')}
  %head
    %title Maheshwara
    %link(href="style.css" media="screen" rel="stylesheet" type="text/css")
    %script(type="text/javascript")
    %script(src="app.js" type="text/javascript")


  %body
    #container
      #header
        %h3
          Maheshwara Parameshwara Vishwakarma
        %span sem
        %span eget
        %span suscipit
      #content
        %h1 Mauris bibendum massa vitae diam rutrum
        %ol
          - imgs = Dir['*.jpg']
          - (1..10).each do |i|
            %li{:class => (i % 2 == 0 ? "even" : "odd")}
              .image
                %img{:src => imgs.shift }
              %h2.title Aenean egestas odio pretium dolor
              .location
                Non risus Integer sed augue
              .description
                Integer sed augue non risus egestas mollis. Duis malesuada
                interdum mi, non ullamcorper sem iaculis eget. Donec euismod
                imperdiet metus, vestibulum egestas eros suscipit id. Morbi
                imperdiet. Curabitur ut ligula nisl.
              %hr
      #footer
        Footer
    - analytics_partial = File.join(File.dirname(__FILE__), '_analytics.html')
    - if File.exist?(analytics_partial)
      = File.read analytics_partial

