!!! 5
%html{html_attrs('en')}
  %head
    %title Maheshwara
    %link(href="/style.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="/uploader/fileuploader.css" media="screen" rel="stylesheet" type="text/css")

    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript")
    %script(src="/uploader/fileuploader.js" type="text/javascript")
    %script(src="/app.js" type="text/javascript")
    = csrf_meta_tag


  %body
    #container
      #header
        %h3
          Maheshwara Parameshwara Vishwakarma
        %span sem
        %span eget
        %span suscipit
        %div.edit Edit
      #content
        - flash.each do |key, value|
          %div{:class => "flash #{key}"}
            =h value
        = yield
      #footer
        &copy; 2011 maheshwara
    - analytics_partial = File.join(File.dirname(__FILE__), '_analytics.html')
    - if File.exist?(analytics_partial)
      = File.read analytics_partial

